{% extends 'index.html' %}
{% load static %}

{% block title %} Update a pass {% endblock title %}
{% block text %}

<h1> "Изменить первал "{{ rock.title }}"</h1>
{% endblock %}

{% block content %}

{% if user.id != rock.tourist.user_id %}
<h2 style='color:red'>{{ user }}, вы собираетесь внести изменения в перевал автора {{rock.tourist}}?</h2>
{% endif %}

<div class="features">

    <form method="POST" class="form-parent" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-error"> {{ form.non_field_errors }}</div>

        {% for f in form %}
        <p label class="form-label" for={{ f.id_for_lablel }}>
            {{f.label}}: </label> {{f}} </p>
        <div class="form-error">{{f.errors}}</div>
        {% endfor %}

        <input type="submit" value=' "Сохранить" '>

    </form>
</div>
<br/>  <br/>


<input type="button" value="Cancel" onclick="history.back()"/>
{% endblock content %}